<div class="container">
    <div class="row">
        <div class="col-md-6">
            <full-calendar #calendar defaultView="timeGridDay"
                [plugins]="calendarPugin"
                [editable]='true'
            >

            </full-calendar>
        </div>
        <div class="col-md-6">
            <div id="eventos-externos">
                 <strong>Aqui estan todos los eventos</strong>
                 <div class="evento ">Evento 1</div>
                 <div class="evento ">Evento 2</div>
                 <div class="evento ">Evento 3</div>
                 <div class="evento ">Evento 4</div>
                 <div class="evento ">Evento 5</div>
                 <div class="evento ">Evento 6</div>

            </div>
        </div>
    </div>
</div>